@model sol24.Models.Game

<form asp-action="Update">
    <input asp-for="Id" type="hidden" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="ReleaseYear"></label>
        <input asp-for="ReleaseYear" />
    </div>

    <button type="submit">Update</button>
</form>