@model sol23.Models.Hero

<form asp-action="SaveHero">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="PowerLvl"></label>
        <input asp-for="PowerLvl" />
    </div>

    <button type="submit">Add</button>
</form>